<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="d:\home\site\wwwroot\bin\play-azure-0.0.1\bin\play-azure.bat"
                  arguments="">
      <environmentVariables>
        <environmentVariable name="application.home" value="d:\home\site\wwwroot\bin\play-azure-0.0.1\bin" />
        <environmentVariable name="JAVA_OPTS" value="-Djava.net.preferIPv4Stack=true -Dhttp.port=%HTTP_PLATFORM_PORT% -Dapplication.home=d:\home\site\wwwroot\bin\play-azure-0.0.1\bin -Dpidfile.path=d:\home\site\wwwroot\bin\play-azure-0.0.1\bin\running.pid" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>